<script setup lang="ts">
import { defineAsyncComponent, onBeforeMount, onBeforeUnmount } from 'vue'
import { useBus } from '@/composables/use-bus'
import { useBusLines } from '@/composables/use-bus-lines'

import AppPanel from '@/components/AppPanel.vue'
import AppLoadingStateWrapper from '@/components/AppLoadingStateWrapper.vue'

const BusLineList = defineAsyncComponent(() => import('@/modules/bus-lines/components/BusLineList.vue'))
const BusLineStopList = defineAsyncComponent(() => import('@/modules/bus-lines/components/BusLineStopList.vue'))
const BusLineStopSchedule = defineAsyncComponent(() => import('@/modules/bus-lines/components/BusLineStopSchedule.vue'))

const { isError, isLoading, provideStopList } = useBus()
const { clearAll } = useBusLines()

onBeforeMount(() => {
  provideStopList()
})

onBeforeUnmount(() => {
  clearAll()
})
</script>

<template>
  <AppLoadingStateWrapper :is-error="isError" :is-loading="isLoading" @reload="provideStopList">
    <AppPanel class="px-4 pt-4 mb-3">
      <h2 class="mb-2">Select Bus Line</h2>

      <BusLineList class="py-4" />
    </AppPanel>

    <div class="row gx-2">
      <div class="col">
        <BusLineStopList />
      </div>

      <div class="col">
        <BusLineStopSchedule />
      </div>
    </div>
  </AppLoadingStateWrapper>
</template>

<style scoped lang="scss">
h2 {
  font-size: 14px;
  font-weight: 600;
}
</style>
