<script setup lang="ts">
import { defineAsyncComponent, onBeforeMount, onBeforeUnmount } from 'vue'
import { useBus } from '@/composables/use-bus'
import { useBusStops } from '@/composables/use-bus-stops'

import AppPanel from '@/components/AppPanel.vue'
import AppLoadingStateWrapper from '@/components/AppLoadingStateWrapper.vue'

const BusStopsSearchForm = defineAsyncComponent(() => import('@/modules/bus-stops/components/BusStopsSearchForm.vue'))
const BusStopsSearchResults = defineAsyncComponent(
  () => import('@/modules/bus-stops/components/BusStopsSearchResults.vue')
)

const { isError, isLoading, provideStopList } = useBus()
const { clearAll } = useBusStops()

onBeforeMount(() => {
  provideStopList()
})

onBeforeUnmount(() => {
  clearAll()
})
</script>

<template>
  <AppLoadingStateWrapper :is-error="isError" :is-loading="isLoading" @reload="provideStopList">
    <AppPanel>
      <BusStopsSearchForm />

      <BusStopsSearchResults />
    </AppPanel>
  </AppLoadingStateWrapper>
</template>
