<script setup lang="ts">
import { computed, ref } from 'vue'
import { useBusStops } from '@/composables/use-bus-stops'
import { Sort } from '@/common/constants/sort'

import AppTableWrapper from '@/components/table/AppTableWrapper.vue'
import AppTableRow from '@/components/table/AppTableRow.vue'

const { filteredStops } = useBusStops()

const sort = ref<Sort | null>(null)

const sortedLineStopList = computed(() => {
  const list = [...filteredStops.value]

  if (sort.value) {
    return sort.value === Sort.ASC ? list : list.reverse()
  }

  return filteredStops.value
})
</script>

<template>
  <div class="app-stop-search-list">
    <AppTableWrapper is-sortable v-model:sort="sort">
      <template #thead-title>Bus Stops</template>
      <template v-if="sortedLineStopList.length" #tbody>
        <AppTableRow v-for="({ stop }, index) in sortedLineStopList" :key="`search-stop-${index}`">
          {{ stop }}
        </AppTableRow>
      </template>
      <template v-else #tbody>
        <AppTableRow> No bus stops found </AppTableRow>
      </template>
    </AppTableWrapper>
  </div>
</template>

<style scoped lang="scss">
.app-stop-search-list {
  height: 65vh;
  overflow: hidden;
}
</style>
