<script setup lang="ts">
import { useBusStops } from '@/composables/use-bus-stops'
import IconSearch from '@/components/icons/IconSearch.vue'

const { searchModel } = useBusStops()
</script>

<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 py-2">
        <div class="input-group">
          <input type="email" class="form-control" placeholder="Search..." v-model="searchModel" />
          <span class="input-group-text">
            <IconSearch class="icon" />
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.form-control {
  border-color: #e2e4ea;
  border-right: 0;
  color: #1a1a1a;
  font-size: 12px;
  font-weight: 500;
  padding: 0.75rem 1rem;
  transition: none;

  ::placeholder {
    color: #9a9da4;
  }

  &:focus {
    border-color: #1952e1;
    box-shadow: none;

    + .input-group-text {
      border-color: #1952e1;

      .icon {
        color: #1952e1;
      }
    }
  }
}

.input-group-text {
  background: transparent;
  border-color: #e2e4ea;
  border-left: none;
}

.icon {
  color: #9a9da4;
  height: 16px;
  width: 16px;
}
</style>
