<script setup lang="ts">
import { defineProps } from 'vue'

const props = defineProps({
  label: {
    type: String,
    required: true
  },
  routeName: {
    type: String,
    required: true
  }
})
</script>

<template>
  <router-link custom :to="{ name: props.routeName }" v-slot="{ isActive, href, navigate }">
    <li class="nav-item" :class="{ active: isActive }">
      <a class="nav-link" aria-current="page" :href="href" @click="navigate">
        {{ props.label }}
      </a>
    </li>
  </router-link>
</template>

<style scoped lang="scss">
.nav-item {
  &:hover .nav-link {
    color: #33373c;
  }

  .nav-link {
    border-color: #1952e1;
    color: #9a9da4;
    font-weight: 500;
    line-height: 24px;
    padding: 1.25rem 1.5rem 18px;
    size: 14px;
  }

  &.active .nav-link {
    color: #33373c;

    border-bottom: 2px solid #1952e1;
  }
}
</style>
