<script setup lang="ts">
import { RouteName } from '@/common/constants/route-name'

import AppPanel from '@/components/AppPanel.vue'
import AppNavigationLink from '@/modules/app-navigation/components//AppNavigationLink.vue'
</script>

<template>
  <AppPanel>
    <ul class="nav px-4">
      <AppNavigationLink label="Bus Lines" :routeName="RouteName.lines"></AppNavigationLink>
      <AppNavigationLink label="Stops" :routeName="RouteName.stops"></AppNavigationLink>
    </ul>
  </AppPanel>
</template>
