<script setup lang="ts">
import { defineAsyncComponent, defineEmits, defineProps } from 'vue'

import AppPanel from '@/components/AppPanel.vue'

const AppLoader = defineAsyncComponent(() => import('@/components/AppLoader.vue'))
const AppReload = defineAsyncComponent(() => import('@/components/AppReload.vue'))

const emits = defineEmits(['reload'])

const props = defineProps({
  isLoading: Boolean,
  isError: Boolean
})
</script>

<template>
  <AppPanel v-if="props.isLoading" class="px-4">
    <AppLoader />
  </AppPanel>

  <div v-else-if="props.isError" class="w-100">
    <AppReload @reload="emits('reload')" />
  </div>

  <div v-else>
    <slot />
  </div>
</template>
