<template>
  <div class="app-placeholder rounded-1 d-flex justify-content-center align-items-center h-100">
    <slot />
  </div>
</template>

<style scoped lang="scss">
.app-placeholder {
  font-size: 14px;
  color: #63666e;
  background-image: linear-gradient(to right, #9a9da4 50%, transparent 50%),
    linear-gradient(to right, #9a9da4 50%, transparent 50%), linear-gradient(to bottom, #9a9da4 50%, transparent 50%),
    linear-gradient(to bottom, #9a9da4 50%, transparent 50%);
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 50px 2px, 50px 2px, 2px 50px, 2px 50px;
}
</style>
