<script setup lang="ts">
import { defineEmits } from 'vue'

const emit = defineEmits(['reload'])
</script>

<template>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Oops.. Something went wrong</h4>
    <p>You can try to <a href="#" class="alert-link" @click="emit('reload')">reload</a> the list</p>
  </div>
</template>
