<script setup lang="ts">
import { computed, defineAsyncComponent, ref } from 'vue'
import { useBusLines } from '@/composables/use-bus-lines'
import { Sort } from '@/common/constants/sort'

import AppBlockTitle from '@/components/AppBlockTitle.vue'
import AppPanel from '@/components/AppPanel.vue'

const AppPlaceholder = defineAsyncComponent(() => import('@/components/AppPlaceholder.vue'))
const AppTableWrapper = defineAsyncComponent(() => import('@/components/table/AppTableWrapper.vue'))
const AppTableRow = defineAsyncComponent(() => import('@/components/table/AppTableRow.vue'))

const { selectedLine, selectedStop, lineStopList, setSelectedStop } = useBusLines()

const sortedLineStopList = computed(() => {
  const list = [...lineStopList.value]

  if (sort.value) {
    return sort.value === Sort.ASC ? list : list.reverse()
  }

  return lineStopList.value
})

const sort = ref<Sort | null>(null)
</script>

<template>
  <AppPanel class="app-line-stop-list">
    <template v-if="selectedLine">
      <AppBlockTitle> Bus Line: {{ selectedLine }} </AppBlockTitle>
      <AppTableWrapper is-sortable v-model:sort="sort">
        <template #thead-title>Bus Stops</template>
        <template v-if="sortedLineStopList.length" #tbody>
          <AppTableRow
            v-for="{ stop, order } in sortedLineStopList"
            :key="order"
            :active="selectedStop === stop"
            is-clickable
            @click="setSelectedStop(stop)"
          >
            {{ stop }}
          </AppTableRow>
        </template>
        <template v-else #tbody>
          <AppTableRow> No bus stops found </AppTableRow>
        </template>
      </AppTableWrapper>
    </template>
    <AppPlaceholder v-else> Please select the bus line first </AppPlaceholder>
  </AppPanel>
</template>

<style scoped lang="scss">
.app-line-stop-list {
  height: 65vh;
  overflow: hidden;
}

.line-list {
  h3 {
    font-size: 14px;
    font-weight: 600;
  }

  table {
    th {
      font-size: 12px;
      letter-spacing: 0.1%;
      color: #33373c;

      .sorting {
        gap: 2px;
      }

      .icon-wrapper {
        line-height: 1;
        cursor: pointer;

        .icon {
          color: #9a9da4;
          height: 3px;
          width: 5px;

          &.active {
            color: #33373c;
          }
        }
      }
    }

    tr:hover {
      td {
        background-color: #f8f8fb;
        box-shadow: none;
      }
    }

    td {
      font-size: 12px;
      color: #33373c;

      &.active {
        color: #1952e1;
        box-shadow: none;
      }
    }
  }
}
</style>
