<script setup lang="ts">
import { onBeforeUnmount } from 'vue'
import { useBus } from '@/composables/use-bus'
import { useBusLines } from '@/composables/use-bus-lines'

const { lineList } = useBus()
const { selectedLine, clearSelectedLine, setSelectedLine } = useBusLines()

onBeforeUnmount(() => {
  clearSelectedLine()
})
</script>

<template>
  <div v-if="lineList.length" class="d-flex flex-wrap gap-2">
    <button
      v-for="line in lineList"
      :key="line"
      type="button"
      class="btn btn-primary rounded-1 border-0 px-3 py-2"
      :class="{ active: selectedLine && line === selectedLine }"
      @click="setSelectedLine(line)"
    >
      {{ line }}
    </button>
  </div>
  <div v-else>
    <p class="mb-0">No lines available at the moment</p>
  </div>
</template>

<style scoped lang="scss">
button {
  background-color: #1952e1;
  font-size: 12px;
  font-weight: 500;

  &:hover {
    background-color: #1649ca;
  }

  &.active {
    background-color: #2e3e6e;

    &:hover {
      background-color: #2e3e6e;
    }
  }
}
</style>
