<script setup lang="ts">
import { defineAsyncComponent } from 'vue'
import { useBusLines } from '@/composables/use-bus-lines'

import AppBlockTitle from '@/components/AppBlockTitle.vue'
import AppPanel from '@/components/AppPanel.vue'

const AppPlaceholder = defineAsyncComponent(() => import('@/components/AppPlaceholder.vue'))
const AppTableWrapper = defineAsyncComponent(() => import('@/components/table/AppTableWrapper.vue'))
const AppTableRow = defineAsyncComponent(() => import('@/components/table/AppTableRow.vue'))

const { selectedLine, selectedStop, stopSchedule } = useBusLines()
</script>

<template>
  <AppPanel class="app-line-stop-schedule">
    <template v-if="selectedStop">
      <AppBlockTitle> Bus Stop: {{ selectedStop }} </AppBlockTitle>
      <AppTableWrapper>
        <template #thead-title>Time</template>
        <template v-if="stopSchedule.length" #tbody>
          <AppTableRow v-for="({ time }, index) in stopSchedule" :key="`schedule-${index}-${time}`">
            {{ time }}
          </AppTableRow>
        </template>
        <template v-else #tbody>
          <AppTableRow> No schedule for this bus stop </AppTableRow>
        </template>
      </AppTableWrapper>
    </template>
    <AppPlaceholder v-else>
      <template v-if="!selectedLine"> Please select the bus line first </template>
      <template v-else> Please select the bus stop first </template>
    </AppPlaceholder>
  </AppPanel>
</template>

<style scoped lang="scss">
.app-line-stop-schedule {
  height: 65vh;
  overflow: hidden;
}
</style>
