<script setup lang="ts">
import { defineEmits, defineProps } from 'vue'

const emit = defineEmits(['click'])

const props = defineProps({
  active: {
    type: Boolean,
    required: false
  },
  isClickable: {
    type: Boolean,
    required: false
  }
})

const performClick = () => {
  if (props.isClickable) {
    emit('click')
  }
}
</script>

<template>
  <tr>
    <td class="px-4 py-3" :class="{ active: props.active }" @click="performClick">
      <slot />
    </td>
  </tr>
</template>

<style scoped lang="scss">
tr:hover {
  td {
    background-color: #f8f8fb;
    box-shadow: none;
  }
}

td {
  font-size: 12px;
  color: #33373c;

  &.active {
    color: #1952e1;
    box-shadow: none;
  }
}
</style>
