<script setup lang="ts">
import { defineAsyncComponent, defineEmits, defineProps, PropType } from 'vue'
import { Sort } from '@/common/constants/sort'

const IconSortAsc = defineAsyncComponent(() => import('@/components/icons/IconSortAsc.vue'))
const IconSortDesc = defineAsyncComponent(() => import('@/components/icons/IconSortDesc.vue'))

const emit = defineEmits(['update:sort'])

const props = defineProps({
  sort: {
    type: String as PropType<Sort | null>,
    required: false
  },
  isSortable: {
    type: Boolean,
    required: false
  }
})

const changeSort = () => {
  if (!props.isSortable) return

  switch (props.sort) {
    case 'ASC':
      emit('update:sort', Sort.DESC)
      break
    case 'DESC':
      emit('update:sort', null)
      break
    default:
      emit('update:sort', Sort.ASC)
      break
  }
}
</script>

<template>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="d-flex gap-1 align-items-center px-4 py-4">
            <div>
              <slot name="thead-title" />
            </div>
            <div v-if="props.isSortable" class="sorting d-flex flex-column" @click="changeSort()">
              <div class="icon-wrapper">
                <IconSortAsc class="icon d-flex" :class="{ active: sort === 'ASC' }" />
              </div>
              <div class="icon-wrapper">
                <IconSortDesc class="icon d-flex" :class="{ active: sort === 'DESC' }" />
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody class="">
        <slot name="tbody" />
      </tbody>
    </table>
  </div>
</template>

<style scoped lang="scss">
.table-responsive {
  height: 100%;

  table {
    th {
      font-size: 12px;
      letter-spacing: 0.1%;
      color: #33373c;

      .sorting {
        gap: 2px;
      }

      .icon-wrapper {
        line-height: 1;
        cursor: pointer;

        .icon {
          color: #9a9da4;
          height: 3px;
          width: 5px;

          &.active {
            color: #33373c;
          }
        }
      }
    }
  }
}
</style>
