<script setup lang="ts"></script>

<template>
  <svg viewBox="0 0 38 23" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M3.49995 0.449707H34.7681C37.5796 0.449707 38.9854 3.85242 37.0015 5.83624L21.3675 21.4703C20.1325 22.7053 18.1355 22.7053 16.9137 21.4703L1.26651 5.83624C-0.717313 3.85242 0.68844 0.449707 3.49995 0.449707Z"
      fill="currentColor"
    />
  </svg>
</template>

<style scoped lang="scss">
svg {
  vertical-align: -0.125em;
  overflow: visible;
  box-sizing: content-box;
  display: inline-block;
}
</style>
