<script setup lang="ts"></script>

<template>
  <svg viewBox="0 0 38 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M34.4336 21.9492H3.16206C0.350252 21.9492 -1.05565 18.5461 0.928381 16.5621L16.5641 0.926321C17.7992 -0.308774 19.7964 -0.308774 21.0184 0.926321L36.6541 16.5621C38.6513 18.5461 37.2454 21.9492 34.4336 21.9492Z"
      fill="currentColor"
    />
  </svg>
</template>

<style scoped lang="scss">
svg {
  vertical-align: -0.125em;
  overflow: visible;
  box-sizing: content-box;
  display: inline-block;
}
</style>
