<script setup lang="ts"></script>

<template>
  <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M35.3484 32.9247L29.5452 27.1385C31.4175 24.7532 32.4335 21.8075 32.4297 18.7751C32.4297 16.0745 31.6289 13.4345 30.1285 11.189C28.6281 8.94351 26.4955 7.19337 24.0005 6.15988C21.5054 5.1264 18.7599 4.85599 16.1112 5.38286C13.4625 5.90972 11.0295 7.2102 9.11983 9.11983C7.2102 11.0295 5.90972 13.4625 5.38286 16.1112C4.85599 18.7599 5.1264 21.5054 6.15988 24.0005C7.19337 26.4955 8.94351 28.6281 11.189 30.1285C13.4345 31.6289 16.0745 32.4297 18.7751 32.4297C21.8075 32.4335 24.7532 31.4175 27.1385 29.5452L32.9247 35.3484C33.0833 35.5083 33.2721 35.6353 33.4801 35.722C33.6881 35.8086 33.9112 35.8532 34.1365 35.8532C34.3618 35.8532 34.5849 35.8086 34.7929 35.722C35.0009 35.6353 35.1897 35.5083 35.3484 35.3484C35.5083 35.1897 35.6353 35.0009 35.722 34.7929C35.8086 34.5849 35.8532 34.3618 35.8532 34.1365C35.8532 33.9112 35.8086 33.6881 35.722 33.4801C35.6353 33.2721 35.5083 33.0833 35.3484 32.9247ZM8.53414 18.7751C8.53414 16.7496 9.13476 14.7696 10.2601 13.0855C11.3853 11.4014 12.9848 10.0888 14.856 9.31369C16.7273 8.53857 18.7865 8.33577 20.773 8.73092C22.7596 9.12607 24.5843 10.1014 26.0165 11.5336C27.4488 12.9659 28.4241 14.7906 28.8193 16.7772C29.2144 18.7637 29.0116 20.8228 28.2365 22.6941C27.4614 24.5654 26.1488 26.1648 24.4647 27.2901C22.7805 28.4154 20.8006 29.016 18.7751 29.016C16.059 29.016 13.4542 27.9371 11.5336 26.0165C9.61309 24.096 8.53414 21.4912 8.53414 18.7751Z"
      fill="currentColor"
    />
  </svg>
</template>

<style scoped lang="scss">
svg {
  vertical-align: -0.125em;
  overflow: visible;
  box-sizing: content-box;
  display: inline-block;
}
</style>
