<script setup lang="ts">
import AppNavigation from '@/modules/app-navigation/components/AppNavigation.vue'
</script>

<template>
  <div class="timetable d-flex flex-column gap-3">
    <h1 class="fs-4 mb-0 pb-2">Timetable</h1>

    <div class="d-flex flex-column gap-3 h-100">
      <AppNavigation />

      <RouterView />
    </div>
  </div>
</template>

<style scoped lang="scss">
.timetable {
  padding: 2.5rem 2rem;
}
</style>
